<div class="row">
  <div class="col-md-12 text-center">
    Copyright&copy;2016-2017 宣顺化工贸易有限公司 版权所有:京ICP备15058296号<br/>地址:宣城市宣州区绿锦村鳌峰办事处&nbsp;电话:15956288386&nbsp;传真:0563-3392185&nbsp;邮编:242000&nbsp;技术支持：季程跃<br/>
  </div>
</div>
