
<ul class="nav nav-pills nav-justified">
  <li>
    <a href="/welcome/index">首页</a>
  </li>
  <li>
    <a href="/welcome/introduction">公司简介</a>
  </li>
  <li>
    <a href="/welcome/lastest_article">最新资讯</a>
  </li>
  <li>
    <a href="/welcome/products_show">产品展示</a>
  </li>
  <li>
    <a href="/welcome/company_honor">公司资质</a>
  </li>
  <li>
    <a href="/welcome/contact_us">联系我们</a>
  </li>
  <li>
    <a href="/admin">信息发布</a>
  </li>
</ul>
