<%= render "shared/header" %>
<%= render "shared/nav"  %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
		</div>
	</div>
</div>
<%= render "shared/footer"  %>
