<%= render "shared/header" %>
<%= render "shared/nav"  %>

<!-- Contact -->
<div class="container-fluid modul-bt-one" style="margin-top:10%;margin-bottom:10%;">
    <div class="container modul-space-seventeen">
        <div class="row">

            <!-- Services One -->
            <div class="col-xs-12 col-sm-6 col-md-4 modul-phone center">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space">
                        <i class="fa fa-location-arrow fa-3x hi-icon"></i>
                    </div>
                    <h3>公司地址</h3>
                    <h5>宣城市宣州区绿锦村鳌峰办事处</h5>
                </div>
            </div>

            <!-- Services Two -->
            <div class="col-xs-12 col-sm-6 col-md-4 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space">
                        <i class="fa fa-phone fa-3x hi-icon"></i>
                    </div>
                    <h3>联系电话</h3>
                    <h5>15956288386</h5>
                </div>
            </div>

            <!-- Services Three -->
            <div class="col-xs-12 col-sm-6 col-md-4 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space">
                        <i class="fa fa-envelope fa-3x hi-icon"></i>
                    </div>
                    <h3>电子邮箱</h3>
                    <h5>jichengyue@yuetech.com.cn</h5>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>
<%= render "shared/footer"  %>
