<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>宣顺化工贸易有限公司</title>
<meta name="keywords" content="宣顺化工" />
<meta name="description" content="" />
<link href="css.css" rel="stylesheet" type="text/css">
</head>
<script src="JsCss/setimg.js"></script>
<body>
	<div class="Index">
	<%= link_to image_tag("index.jpg", alt: "宣顺化工贸易有限公司") %>
	</div>
	<div class="Nav">
		<ul class="Nav_ul">
			<li><a href="#" title="首 页" id="Link1" class="N_a">首 页</a></li>
			<li><a href="#" title="集团简介" id="Link2" class="N_a">集团简介</a>
				<ul class="subnav">

                    <li><a href="#" title="集团简介">集团简介</a></li>

                    <li><a href="#" title="产品展示">产品展示</a></li>

                    <li><a href="#" title="组织架构">组织架构</a></li>

                    <li><a href="#" title="集团荣誉">集团荣誉</a></li>

                    <li><a href="#" title="社会责任">社会责任</a></li>

                    <li><a href="#" title="发展目标">发展目标</a></li>

				</ul>
      </li>
			<li><a href="#" title="新闻资讯" id="Link3" class="N_a">新闻资讯</a>
				<ul class="subnav">

                  <li><a href="#" title="某某快讯">某某快讯</a></li>

                  <li><a href="#" title="视频资讯">视频资讯</a></li>

				</ul>
            </li>
			<li><a href="#" title="集团产业" id="Link4" class="N_a">集团产业</a>
				<ul class="subnav">

                    <li><a href="#" title="投资管理">投资管理</a></li>

                    <li><a href="#" title="置业建设">置业建设</a></li>

                    <li><a href="#" title="能源光电">能源光电</a></li>

                    <li><a href="#" title="现代物流">现代物流</a></li>

                    <li><a href="#" title="生物制药">生物制药</a></li>

                    <li><a href="#" title="现代农业">现代农业</a></li>

				</ul>
            </li>

			<li><a href="#" title="人才中心" id="Link6" class="N_a">人才中心</a>
				<ul class="subnav">
                	<li><a href="#" title="人才招聘">人才招聘</a></li>

                    <li><a href="#" title="人才理念">人才理念</a></li>

                    <li><a href="#" title="薪酬福利">薪酬福利</a></li>

                    <li><a href="#" title="职业发展">职业发展</a></li>

				</ul>
            </li>
			<li style="background:none;"><a href="#" title="联系我们" id="Link7" class="N_a">联系我们</a>
				<ul class="subnav">
                <li><a href="#" title="联系我们">联系我们</a></li>
				</ul>
            </li>
		</ul>
	</div>
	<div class="Main"><img src="images/t_pic.gif" align="top" alt="" title="" /></div>

<script>document.getElementById('Link1').className='Sy';</script>
	<div class="Main">
		<div class="I_about">
			<h2 class="I_h2"><strong>今日某某</strong>ABOUT MINNENG</h2>
			<div class="clear"></div>
			<div class="I_view">
				<p>&nbsp;&nbsp;&nbsp; 宣顺化工贸易有限公司创立于2005年，经过十多年的历练与创新，集团已发展成为以现代物流、置业地产、能源光电、生物制药、工程建设、现代农业为核心产业的多领域、综合性投资企业集团。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 集团将立足中国，走向世界，在做大做强传统产业的基础上，增加对新兴产业的投资，整合传统产业项目与高科技项目的资源优势互补，将产业投资、战略投资、风险投资与资本运营有效结合，采取独资运营与合资、合作联营的策略，促进集团重点产业核心竞争力的形成与提升，将集团打造成重点突出，优势明显的综合性大型企业集团<br /></p><p>&nbsp;</p>
			</div>
            <img name="" src="images/201209291602208653.jpg" alt="">
		</div>
		<div class="I_news">
			<h2 class="I_h2">
				<div id="tab1">
					<span onmouseover="setTab(1,0)" class="on" id="T1">某某快讯<b>NEWS</b><a href="#" title=""><img src="images/more.gif" alt="" title="" /></a></span>
				</div>
			</h2>
			<div id="tablist1">
				<ul>

                    <li><span class="Title"><a href="#" target="_blank">某某集团2012年度总结表彰大会暨尾牙晚宴举行</a></span>2013-1-30</li>

                    <li><span class="Title"><a href="#" target="_blank">某某集团与上海商学院签约共建</a></span>2013-1-22</li>

                    <li><span class="Title"><a href="#" target="_blank">某某集团捐资平和建设小学助力教育发展</a></span>2013-1-5</li>

                    <li><span class="Title"><a href="#" target="_blank">热烈祝贺某某集团被评为2011年—2012年度上海市福建商</a></span>2012-12-10</li>

                    <li><span class="Title"><a href="#" target="_blank">某某光电集团成立"院士专家工作站"</a></span>2012-10-25</li>

				</ul>
				<ul style="display:none;">

				</ul>
			</div>
		</div>
		<div class="I_right">

			<h2 class="I_h2"><strong>核心企业</strong>CORE ENTERPRISE</h2>
			<div class="Pic1"><a href="#" title=""><img src="images/l_1.gif" alt="" title="" /></a></div>
			<div class="Pic1"><a href="#" title=""><img src="images/l_2.gif" alt="" title="" /></a></div>

		</div>
	</div>

    <div class="infiniteCarousel">
            <div class="wrapper">
                <ul>

                        <li><div onmouseover="this.className='on-div'" onmouseout="this.className=''"><table cellpadding="0" cellspacing="0"><tr><td width="137" height="100" valign="middle"><img src="images/201210310952338421.gif" width="217" height="117" alt="投资管理" title="投资管理"/></td></tr></table><a href="#" target="_blank" title="投资管理"></a></div></li>

                        <li><div onmouseover="this.className='on-div'" onmouseout="this.className=''"><table cellpadding="0" cellspacing="0"><tr><td width="137" height="100" valign="middle"><img src="images/201210310953075326.gif" width="217" height="117" alt="置业建设" title="置业建设"/></td></tr></table><a href="#" target="_blank" title="置业建设"></a></div></li>

                        <li><div onmouseover="this.className='on-div'" onmouseout="this.className=''"><table cellpadding="0" cellspacing="0"><tr><td width="137" height="100" valign="middle"><img src="images/201210310953287112.gif" width="217" height="117" alt="能源光电" title="能源光电"/></td></tr></table><a href="#" target="_blank" title="能源光电"></a></div></li>

                        <li><div onmouseover="this.className='on-div'" onmouseout="this.className=''"><table cellpadding="0" cellspacing="0"><tr><td width="137" height="100" valign="middle"><img src="images/201210310953526760.gif" width="217" height="117" alt="现代物流" title="现代物流"/></td></tr></table><a href="#" target="_blank" title="现代物流"></a></div></li>

                        <li><div onmouseover="this.className='on-div'" onmouseout="this.className=''"><table cellpadding="0" cellspacing="0"><tr><td width="137" height="100" valign="middle"><img src="images/201209291145162884.gif" width="217" height="117" alt="生物制药" title="生物制药"/></td></tr></table><a href="#" target="_blank" title="生物制药"></a></div></li>

                        <li><div onmouseover="this.className='on-div'" onmouseout="this.className=''"><table cellpadding="0" cellspacing="0"><tr><td width="137" height="100" valign="middle"><img src="images/201210091631452563.gif" width="217" height="117" alt="现代农业" title="现代农业"/></td></tr></table><a href="#" target="_blank" title="现代农业"></a></div></li>

                </ul>
            </div>
            <div class="Infi_bg"></div>
            <a id="prev" class="btn_icon" href="javascript:;"></a>
            <a id="next" class="btn_icon" href="javascript:;"></a>
        </div>

	<div class="Bottom">
		<p><a href="#" title="人才中心">人才中心</a>|<a href="#" title="联系我们">联系我们</a>|<a href="#" title="网站导航">网站导航</a>|<a href="#" title="法律声明">法律声明</a></p>
				Copyright 2016-2017 宣顺化工贸易有限公司 版权所有 京ICP备15058296号<br />地址:宣城市宣州区绿锦村鳌峰办事处 电话:15956288386 传真:021-999999999 邮编:200051&nbsp;技术支持：岳太科<br />
	</div>
</body>
</html>
<script type="text/javascript" src="JsCss/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".Nav ul li a").mouseover(function() { //When trigger is clicked...
		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find(".subnav").slideDown('fast').show(); //Drop down the subnav on click
		$(this).parent().hover(function() {
		}, function(){
			$(this).parent().find(".subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
		});
		//Following events are applied to the trigger (Hover events for the trigger)
		})
});
</script>
<script type="text/javascript" src="JsCss/roll.js"></script>
<script type="text/javascript">
	function setTab(m,n){
	var menu=document.getElementById("tab"+m).getElementsByTagName("span");   //获取ID为tab+m标签下的li标签
	var showdiv=document.getElementById("tablist"+m).getElementsByTagName("ul");   //获取ID为tablist+m标签下的div标签
	for(i=0;i<menu.length;i++)
	{
		menu[i].className=i==n?"on":"";   //如果i=n;那么menu[i].classname为now
		showdiv[i].style.display=i==n?"block":"none";   //如果如果i=n;那么showdiv[i].style.display为block"
	}
	};
	//鼠标经过切换父div背景
	$(function(){
		$("#T1").mouseover(
			function () {
				$(this).parent("div").removeClass("N_li");
			});
		$("#T2").mouseover(
			function () {
				$(this).parent("div").addClass("N_li");   //鼠标经过时增加样式N_li
			});
	});
	//鼠标经过li切换背景、字体 颜色
	$("#tablist1 li").hover(
		function () {
			$(this).addClass("li_color");   //鼠标经过时增加样式P02
		},
		function () {
			$(this).removeClass("li_color"); //鼠标离开时移除样式P02
		}
	);
</script>
