<%= render "shared/header" %>
<%= render "shared/nav"  %>
<p class="bg-success">
    1、产品 产品名称、产品价格、产品图片、产品类别
</p>
<p class="bg-info">
    2、使用说明 本品属于无苯溶剂，用于酚醛调和漆亦可用于醇酸漆、氨基漆、硝基漆等油漆稀释
</p>
<p class="bg-warning">
    3、警告 本产品易燃 安全措施 容器必须盖紧、并存于阴凉处，远离明火、热源、水 眼睛接触，用清水彻底清洗，误服者，就医 灭火：泡沫灭火器、二氧化碳干粉灭火器、沙土
</p>
<p class="bg-danger">
    4、安全措施
    <ul>
        <li>
            1、使用时施工现场应遵守涂料作业安全规程，采取防火，防静电 防霉等措施
        </li>
        <li>
            2、贮存期一年
        </li>
        <li>
            3、施工时做好人身安全防护
        </li>
    </ul>
</p>
<%= render "shared/footer"  %>
